*
!/.bash_completion.d*
!/.bash_completion.d/**/*
!/.bash_logout
!/.bashrc
!/.bashrc.d*
!/.bashrc.d/**/*
!/.bin*
!/.bin/**/*
!/.certs*
!/.certs/
!/.certs/**/*
!/.certs/**/*
!/.config/MusicBrainz*
!/.config/MusicBrainz/**/*
!/.config/awesome
!/.config/gtk-3.0/bookmarks
!/.config/printer/printers.conf
!/.config/terminator*
!/.config/terminator/**/*
!/.doc*
!/.doc/**/*
!/.fonts-failover*
!/.fonts-failover/**/*
!/.gitconfig
!/.gitmodules
!/.icc*
!/.icc/**/*
!/.inputrc
!/.lib*
!/.lib/**/*
!/.playlists*
!/.playlists/**/*
!/.profile
!/.psqlrc
!/.screenrc
!/.ssh/README.rst
!/.ssh/config
!/.ssh/tmp/.stub
!/.synergy*
!/.synergy/**/*
!/.vim
!/.vimrc
!/.wgetrc
!/.Xdefaults
!/.Xresources
!/.xscreensaver
!/.xsession
!/.packages_workstation
!/.packages_workstation_pip
!/.packages_workstation_npm
!/.screenlayout*
!/.screenlayout/**/*
