[submodule ".vim"]
	path = .vim
	url = http://simon.psaux.de/git/dot.vim.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = http://simon.psaux.de/git/awesome.git
[submodule ".lib/TickTick"]
	path = .lib/TickTick
	url = https://github.com/kristopolous/TickTick
[submodule ".lib/git-prompt"]
	path = .lib/git-prompt
	url = git://github.com/lvv/git-prompt.git
[submodule ".lib/git-flow-completion"]
	path = .lib/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
