*
!/.bin/**/*
!/.bin*
!/.config/MusicBrainz/**/*
!/.config/MusicBrainz*
!/.doc/**/*
!/.doc*
!/.hooks/**/*
!/.hooks*
!/.icc/**/*
!/.icc*
!/.lib/**/*
!/.lib*
!/.packages/**/*
!/.packages*
!/.synergy/**/*
!/.synergy*
/.synergy.conf
