*
!/.bin/**/*
!/.bin*
!/.config/MusicBrainz/**/*
!/.config/MusicBrainz*
!/.doc/**/*
!/.doc*
!/.hooks/**/*
!/.hooks*
!/.icc/**/*
!/.icc*
!/.lib/**/*
!/.lib*
!/.packages/**/*
!/.packages*
!/.synergy/**/*
!/.synergy*
!/.i3/**/*
!/.i3*
!/.certs/**/*
!/.certs/
!/.synergy.conf
