[core]
    quotepath = off
[user]
    email = simon.schiele@ypsilon.net
    name = Simon Schiele
[merge]
    tool = vimdiff
[color]
    ui = auto
    interactive = auto
[alias]
    lastdiff = difftool HEAD^1..HEAD
    sdiff = diff --cached
    changed = diff --stat HEAD..origin/HEAD
    rollback = checkout HEAD^1
    clone = clone --recursive
    wipe = reset –hard HEAD
    praise = blame
    merge = merge --ff
    pull = pull --ff
    find = "!git ls-files | grep -i"
    grep = grep -Ii
    stat = status -sb
    ignore = !([ ! -r .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
    ignored = ls-files --others -i --exclude-standard
    plog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    glog = log --graph
    lastlog = log --color -n 20 --pretty=tformat:\"%h - %an, %ar : %s\" HEAD^1..HEAD
    filelog = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat 
