
# load system defaults
$include /etc/inputrc

# Allow the command prompt to wrap to the next line
set horizontal-scroll-mode Off

# Be 8 bit clean.
set meta-flag On
set input-meta On
set convert-meta Off
set output-meta On

# bell: disable
set bell-style none

# completion: all completions on first <tab> press
set show-all-if-ambiguous on

# completion: ignore filename case
set completion-ignore-case on

# completion: add a trailing slash when symlink to directories
set mark-symlinked-directories on

# completing: extra file information
#set visible-stats on

# removes the annoying "-- more --" prompt for long lists
set page-completions off

# show the "Display all 123 possibilities? (y or n)" prompt only for really long lists
set completion-query-items 350

# history: use already typed text as search prefix (page up/down)
"\e[5~": history-search-backward
"\e[6~": history-search-forward

# try to enable the application keypad when it is called.  Some systems
# need this to enable the arrow keys.
# set enable-keypad on
# see /usr/share/doc/bash/inputrc.arrows for other codes of arrow keys

# not sure anymore...
# set show-all-if-unmodified on
#set prefer-visible-bell off
#set echo-control-characters off
#set bind-tty-special-chars on
#set mark-symlinked-directories on

# "\C-w": unix-filename-rubout
# "": unix-filename-rubout
# "\C-x*": glob-expand-word

